.tableheading {
  // background-color: rgb(194, 174, 194);
  background-color: rgba(184, 94, 94, 0.85);
  color: black;
  // width: 50%;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  font-size: 30px;
}
