.SearchBar {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  padding: 10px;
  font-size: 35px;
  font-weight: 600;
  width: 100%;

  margin-top: 30px;

  input {
    font-size: 15px;
    padding: 20px;
    width: 400px;
    margin: 10px;
    border-radius: 45px;
    border: 2px solid black;
  }

  button {
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(196, 114, 114);
    color: rgb(8, 8, 8);
  }
}
